.env
.logs/**
.tox/**
.coverage*
.venv/**
**/sciscraper.egg-info/**
**/bin/**
**/__pycache__/**
exports/**
.vscode/**
**/lib/**
.DS_Store
Pipfile
**/Job Scraper Exports/**
**/jobscrape_exports/**
**John Fallot**
**.csv
jobscraper_printedlogs/jobscraper_printedlogs.log
.DS_Store
**.env